In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.formula.api as sm
import scipy,scipy.stats
import math
from collections import Counter
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from statsmodels.api import add_constant

In [3]:
%matplotlib inline

In [134]:
pisatrain=pd.read_csv('pisa2009train.csv')

In [7]:
pisatest=pd.read_csv('pisa2009test.csv')

In [23]:
pisatrain.info()
pisatrain.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3663 entries, 0 to 3662
Data columns (total 24 columns):
grade                    3663 non-null int64
male                     3663 non-null int64
raceeth                  3628 non-null object
preschool                3607 non-null float64
expectBachelors          3601 non-null float64
motherHS                 3566 non-null float64
motherBachelors          3266 non-null float64
motherWork               3570 non-null float64
fatherHS                 3418 non-null float64
fatherBachelors          3094 non-null float64
fatherWork               3430 non-null float64
selfBornUS               3594 non-null float64
motherBornUS             3592 non-null float64
fatherBornUS             3550 non-null float64
englishAtHome            3592 non-null float64
computerForSchoolwork    3598 non-null float64
read30MinsADay           3629 non-null float64
minutesPerWeekEnglish    3477 non-null float64
studentsInEnglish        3414 non-null float64
schoolHasLibrary         3520 non-null float64
publicSchool             3663 non-null int64
urban                    3663 non-null int64
schoolSize               3501 non-null float64
readingScore             3663 non-null float64
dtypes: float64(19), int64(4), object(1)
memory usage: 686.9+ KB

   grade  male   raceeth  preschool  expectBachelors  ...  schoolHasLibrary  publicSchool  urban  schoolSize  readingScore
0     11     1       NaN        NaN              0.0  ...               1.0             1      1       673.0        476.00
1     11     1     White        0.0              0.0  ...               1.0             1      0      1173.0        575.01
2      9     1     White        1.0              1.0  ...               1.0             1      0      1233.0        554.81
3     10     0     Black        1.0              1.0  ...               1.0             1      1      2640.0        458.11
4     10     1  Hispanic        1.0              0.0  ...               1.0             1      1      1095.0        613.89

[5 rows x 24 columns]

In [15]:
len(pisatrain)

3663

In [36]:
pisatrain.groupby(['male'])['readingScore'].mean()

male
0    512.940631
1    483.532479
Name: readingScore, dtype: float64

In [39]:
pisatrain.isna().sum()

grade                      0
male                       0
raceeth                   35
preschool                 56
expectBachelors           62
motherHS                  97
motherBachelors          397
motherWork                93
fatherHS                 245
fatherBachelors          569
fatherWork               233
selfBornUS                69
motherBornUS              71
fatherBornUS             113
englishAtHome             71
computerForSchoolwork     65
read30MinsADay            34
minutesPerWeekEnglish    186
studentsInEnglish        249
schoolHasLibrary         143
publicSchool               0
urban                      0
schoolSize               162
readingScore               0
dtype: int64

In [135]:
pisatrain1=pisatrain.dropna(axis=0)

In [136]:
pisatest1=pisatest.dropna(axis=0)

In [42]:
pisatrain1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2414 entries, 1 to 3662
Data columns (total 24 columns):
grade                    2414 non-null int64
male                     2414 non-null int64
raceeth                  2414 non-null object
preschool                2414 non-null float64
expectBachelors          2414 non-null float64
motherHS                 2414 non-null float64
motherBachelors          2414 non-null float64
motherWork               2414 non-null float64
fatherHS                 2414 non-null float64
fatherBachelors          2414 non-null float64
fatherWork               2414 non-null float64
selfBornUS               2414 non-null float64
motherBornUS             2414 non-null float64
fatherBornUS             2414 non-null float64
englishAtHome            2414 non-null float64
computerForSchoolwork    2414 non-null float64
read30MinsADay           2414 non-null float64
minutesPerWeekEnglish    2414 non-null float64
studentsInEnglish        2414 non-null float64
schoolHasLibrary         2414 non-null float64
publicSchool             2414 non-null int64
urban                    2414 non-null int64
schoolSize               2414 non-null float64
readingScore             2414 non-null float64
dtypes: float64(19), int64(4), object(1)
memory usage: 471.5+ KB

In [43]:
pisatest1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 990 entries, 0 to 1569
Data columns (total 24 columns):
grade                    990 non-null int64
male                     990 non-null int64
raceeth                  990 non-null object
preschool                990 non-null float64
expectBachelors          990 non-null float64
motherHS                 990 non-null float64
motherBachelors          990 non-null float64
motherWork               990 non-null float64
fatherHS                 990 non-null float64
fatherBachelors          990 non-null float64
fatherWork               990 non-null float64
selfBornUS               990 non-null float64
motherBornUS             990 non-null float64
fatherBornUS             990 non-null float64
englishAtHome            990 non-null float64
computerForSchoolwork    990 non-null float64
read30MinsADay           990 non-null float64
minutesPerWeekEnglish    990 non-null float64
studentsInEnglish        990 non-null float64
schoolHasLibrary         990 non-null float64
publicSchool             990 non-null int64
urban                    990 non-null int64
schoolSize               990 non-null float64
readingScore             990 non-null float64
dtypes: float64(19), int64(4), object(1)
memory usage: 193.4+ KB

In [44]:
pisatrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3663 entries, 0 to 3662
Data columns (total 24 columns):
grade                    3663 non-null int64
male                     3663 non-null int64
raceeth                  3628 non-null object
preschool                3607 non-null float64
expectBachelors          3601 non-null float64
motherHS                 3566 non-null float64
motherBachelors          3266 non-null float64
motherWork               3570 non-null float64
fatherHS                 3418 non-null float64
fatherBachelors          3094 non-null float64
fatherWork               3430 non-null float64
selfBornUS               3594 non-null float64
motherBornUS             3592 non-null float64
fatherBornUS             3550 non-null float64
englishAtHome            3592 non-null float64
computerForSchoolwork    3598 non-null float64
read30MinsADay           3629 non-null float64
minutesPerWeekEnglish    3477 non-null float64
studentsInEnglish        3414 non-null float64
schoolHasLibrary         3520 non-null float64
publicSchool             3663 non-null int64
urban                    3663 non-null int64
schoolSize               3501 non-null float64
readingScore             3663 non-null float64
dtypes: float64(19), int64(4), object(1)
memory usage: 686.9+ KB

In [48]:
pisatrain['raceeth'].unique()

array([nan, 'White', 'Black', 'Hispanic', 'Asian', 'More than one race',
       'American Indian/Alaska Native',
       'Native Hawaiian/Other Pacific Islander'], dtype=object)

In [49]:
pisatrain.corr()

                          grade      male  preschool  expectBachelors  ...  publicSchool     urban  schoolSize  readingScore
grade                  1.000000 -0.097677  -0.023262         0.140200  ...     -0.063972  0.076277    0.067454      0.286752
male                  -0.097677  1.000000   0.014807        -0.078029  ...     -0.075466  0.036377    0.012921     -0.153928
preschool             -0.023262  0.014807   1.000000         0.076046  ...     -0.070919 -0.053684   -0.032582      0.040537
expectBachelors        0.140200 -0.078029   0.076046         1.000000  ...     -0.112698 -0.004022    0.016164      0.360144
motherHS               0.005461  0.030586   0.141552         0.104886  ...     -0.067646 -0.117988   -0.084460      0.156488
motherBachelors        0.043171  0.074250   0.151832         0.168330  ...     -0.161796 -0.048131   -0.011638      0.214240
motherWork             0.019385 -0.011641   0.069249         0.069366  ...     -0.036711 -0.012350   -0.039499      0.043401
fatherHS               0.046210  0.017784   0.117443         0.156028  ...     -0.080654 -0.098083   -0.080115      0.175464
fatherBachelors        0.061713  0.076257   0.141418         0.199217  ...     -0.176680 -0.018506    0.019602      0.266236
fatherWork             0.012731  0.030614   0.065079         0.003122  ...     -0.023248 -0.039698   -0.023414      0.070423
selfBornUS            -0.022154  0.022550   0.092893        -0.010330  ...     -0.041606 -0.115689   -0.118054      0.023530
motherBornUS          -0.072814  0.015107   0.111684         0.012359  ...      0.012995 -0.279346   -0.246404      0.062846
fatherBornUS          -0.063530  0.008212   0.112208         0.015281  ...      0.021946 -0.294307   -0.258301      0.088670
englishAtHome         -0.025675 -0.009790   0.120480         0.044169  ...     -0.042673 -0.218851   -0.203584      0.126018
computerForSchoolwork  0.112157 -0.015485   0.076612         0.130413  ...     -0.074832  0.020981    0.067300      0.190425
read30MinsADay         0.065008 -0.220103  -0.008649         0.135002  ...      0.006983  0.023078   -0.011673      0.247221
minutesPerWeekEnglish  0.028157  0.010700  -0.015110         0.018364  ...      0.053556 -0.051268    0.007183      0.067823
studentsInEnglish      0.085289 -0.025404  -0.027114         0.050988  ...      0.081880  0.160524    0.258792      0.034653
schoolHasLibrary      -0.026542  0.032114   0.036506         0.072164  ...      0.059391 -0.116804    0.037762      0.038150
publicSchool          -0.063972 -0.075466  -0.070919        -0.112698  ...      1.000000 -0.277477    0.234745     -0.133654
urban                  0.076277  0.036377  -0.053684        -0.004022  ...     -0.277477  1.000000    0.326483     -0.064194
schoolSize             0.067454  0.012921  -0.032582         0.016164  ...      0.234745  0.326483    1.000000      0.026948
readingScore           0.286752 -0.153928   0.040537         0.360144  ...     -0.133654 -0.064194    0.026948      1.000000

[23 rows x 23 columns]

In [54]:
pisatrain['raceeth'].nunique()

7

In [137]:
dummy=pd.get_dummies(pisatrain1['raceeth'],drop_first=True)

In [110]:
pisatrain1.head()

   grade  male             raceeth  preschool  ...  publicSchool  urban  schoolSize  readingScore
1     11     1               White        0.0  ...             1      0      1173.0        575.01
3     10     0               Black        1.0  ...             1      1      2640.0        458.11
4     10     1            Hispanic        1.0  ...             1      1      1095.0        613.89
7     10     0               White        1.0  ...             1      0      1913.0        439.36
9     10     1  More than one race        1.0  ...             1      0       899.0        465.90

[5 rows x 24 columns]

In [138]:
pisatrain1_dummy=pd.concat([pisatrain1,dummy],axis=1)

In [112]:
type(pisatrain1_dummy)

pandas.core.frame.DataFrame

In [139]:
pisatrain1_dummy=pisatrain1_dummy.drop('raceeth',axis=1)

In [114]:
pisatrain1_dummy.head()

   grade  male  preschool  expectBachelors  ...  Hispanic  More than one race  Native Hawaiian/Other Pacific Islander  White
1     11     1        0.0              0.0  ...         0                   0                                       0      1
3     10     0        1.0              1.0  ...         0                   0                                       0      0
4     10     1        1.0              0.0  ...         1                   0                                       0      0
7     10     0        1.0              1.0  ...         0                   0                                       0      1
9     10     1        1.0              1.0  ...         0                   1                                       0      0

[5 rows x 29 columns]

In [140]:
x=pisatrain1_dummy.drop('readingScore',axis=1)

In [141]:
y=pisatrain1_dummy['readingScore']

In [142]:
lm=LinearRegression()

In [143]:
lm.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [144]:
print('intercept:',lm.intercept_,'coefficeints',lm.coef_)

intercept: 76.48900632875143 coefficeints [ 2.95427071e+01 -1.45216535e+01 -4.46367032e+00  5.52670801e+01
  6.05877432e+00  1.26380678e+01 -2.80910060e+00  4.01821353e+00
  1.69297547e+01  5.84279834e+00 -3.80627792e+00 -8.79815308e+00
  4.30699432e+00  8.03568537e+00  2.25002323e+01  3.48719242e+01
  1.27884515e-02 -2.86630774e-01  1.22150850e+01 -1.68574750e+01
 -1.10131762e-01  6.54038148e-03  6.31670019e+01  2.64980050e-01
  2.83018415e+01  5.03548051e+01  6.21757262e+01  6.72773271e+01]

In [145]:
pred=lm.predict(x)

In [146]:
r2_score(y,pred)

0.3251433559213568

In [147]:
metrics.mean_squared_error(y,pred)

5382.5041370658955

In [148]:
np.sqrt(metrics.mean_squared_error(y,pred))

73.3655514329845

In [164]:
pisatrain1['raceeth'].unique()

array(['White', 'Black', 'Hispanic', 'More than one race',
       'American Indian/Alaska Native', 'Asian',
       'Native Hawaiian/Other Pacific Islander'], dtype=object)

In [165]:
x2=add_constant(x)

C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [167]:
lm=sm.OLS(y,x2)

In [168]:
lm2=lm.fit()

In [169]:
lm2.pvalues

const                                     4.042509e-02
grade                                     2.468118e-23
male                                      4.416601e-06
preschool                                 2.005164e-01
expectBachelors                           1.059226e-36
motherHS                                  3.200122e-01
motherBachelors                           1.079791e-03
motherWork                                4.251670e-01
fatherHS                                  4.714698e-01
fatherBachelors                           2.346477e-05
fatherWork                                1.839343e-01
selfBornUS                                6.033074e-01
motherBornUS                              1.818211e-01
fatherBornUS                              4.917762e-01
englishAtHome                             2.415272e-01
computerForSchoolwork                     8.188776e-05
read30MinsADay                            4.489941e-24
minutesPerWeekEnglish                     2.326444e-01
studentsInEnglish                         2.084598e-01
schoolHasLibrary                          1.874869e-01
publicSchool                              1.226078e-02
urban                                     9.778304e-01
schoolSize                                2.941535e-03
Asian                                     8.836631e-04
Black                                     9.878296e-01
Hispanic                                  1.011694e-01
More than one race                        6.743900e-03
Native Hawaiian/Other Pacific Islander    8.996825e-03
White                                     6.318811e-05
dtype: float64

In [170]:
print(lm2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           readingScore   R-squared:                       0.325
Model:                            OLS   Adj. R-squared:                  0.317
Method:                 Least Squares   F-statistic:                     41.04
Date:                Mon, 16 Sep 2019   Prob (F-statistic):          1.72e-180
Time:                        03:47:33   Log-Likelihood:                -13795.
No. Observations:                2414   AIC:                         2.765e+04
Df Residuals:                    2385   BIC:                         2.781e+04
Df Model:                          28
Covariance Type:            nonrobust
==========================================================================================================
                                             coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------
const                                     76.4890     37.303      2.050      0.040       3.340     149.638
grade                                     29.5427      2.937     10.057      0.000      23.783      35.303
male                                     -14.5217      3.156     -4.601      0.000     -20.710      -8.333
preschool                                 -4.4637      3.486     -1.280      0.201     -11.300       2.372
expectBachelors                           55.2671      4.294     12.871      0.000      46.847      63.687
motherHS                                   6.0588      6.091      0.995      0.320      -5.886      18.004
motherBachelors                           12.6381      3.861      3.273      0.001       5.066      20.210
motherWork                                -2.8091      3.522     -0.798      0.425      -9.715       4.097
fatherHS                                   4.0182      5.579      0.720      0.471      -6.923      14.959
fatherBachelors                           16.9298      3.995      4.237      0.000       9.095      24.764
fatherWork                                 5.8428      4.396      1.329      0.184      -2.778      14.463
selfBornUS                                -3.8063      7.324     -0.520      0.603     -18.168      10.555
motherBornUS                              -8.7982      6.588     -1.336      0.182     -21.716       4.120
fatherBornUS                               4.3070      6.264      0.688      0.492      -7.976      16.590
englishAtHome                              8.0357      6.859      1.171      0.242      -5.415      21.487
computerForSchoolwork                     22.5002      5.703      3.946      0.000      11.318      33.683
read30MinsADay                            34.8719      3.408     10.231      0.000      28.188      41.556
minutesPerWeekEnglish                      0.0128      0.011      1.194      0.233      -0.008       0.034
studentsInEnglish                         -0.2866      0.228     -1.258      0.208      -0.733       0.160
schoolHasLibrary                          12.2151      9.265      1.318      0.187      -5.953      30.383
publicSchool                             -16.8575      6.726     -2.506      0.012     -30.046      -3.669
urban                                     -0.1101      3.963     -0.028      0.978      -7.881       7.661
schoolSize                                 0.0065      0.002      2.977      0.003       0.002       0.011
Asian                                     63.1670     18.973      3.329      0.001      25.962     100.372
Black                                      0.2650     17.370      0.015      0.988     -33.796      34.326
Hispanic                                  28.3018     17.259      1.640      0.101      -5.542      62.146
More than one race                        50.3548     18.570      2.712      0.007      13.940      86.770
Native Hawaiian/Other Pacific Islander    62.1757     23.783      2.614      0.009      15.539     108.813
White                                     67.2773     16.787      4.008      0.000      34.359     100.196
==============================================================================
Omnibus:                        8.273   Durbin-Watson:                   1.998
Prob(Omnibus):                  0.016   Jarque-Bera (JB):                8.362
Skew:                          -0.141   Prob(JB):                       0.0153
Kurtosis:                       2.943   Cond. No.                     5.17e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.17e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [178]:
dummy2=pd.get_dummies(pisatest1['raceeth'],drop_first=True)

In [180]:
pisatest1=pd.concat([pisatest1,dummy2],axis=1)

In [189]:
x_test=pisatest1.drop(['readingScore','raceeth'],axis=1)

In [191]:
y_test=pisatest1['readingScore']

In [194]:
lmtest=LinearRegression()

In [195]:
lmtest.fit(x_test,y_test)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [196]:
pred_test=lmtest.predict(x_test)

In [228]:
(pred_test.max())-(pred_test.min())
len(pred_test)

990

In [229]:
(sum(((pred_test)-(y_test))**2)/990)**0.5

74.70434728222544

In [224]:
np.sqrt(metrics.mean_squared_error(y_test,pred_test))

74.70434728222536

In [225]:
metrics.mean_squared_error(y_test,pred_test)*990

5524932.107834697

In [226]:
len(pred_test)

990

In [207]:
np.mean(y)

517.9628873239429

In [230]:
sum(((y_test)-np.mean(y))**2)

7802354.077613839

In [231]:
r2_score(y_test,pred_test)

0.29156410673966104

In [212]:
pisatrain.groupby(['grade'])['readingScore'].mean()

grade
8     389.970000
9     412.826398
10    503.256963
11    525.996915
12    569.280000
Name: readingScore, dtype: float64