In [12]:
import pandas as pd
import numpy as np
from scipy.stats import binom
import matplotlib.pyplot as plt
import random
from sklearn.model_selection import train_test_split
import statsmodels.formula.api as sm

In [2]:
df=pd.read_csv('house.csv')

In [3]:
df.head()

      price  bedrooms  bathrooms  sqft_lot  floors condition  yr_built
0  221900.0         3       1.00      5650     1.0   Average      1955
1  538000.0         3       2.25      7242     2.0   Average      1951
2  180000.0         2       1.00     10000     1.0   Average      1933
3  604000.0         4       3.00      5000     1.0  VeryGood      1965
4  510000.0         3       2.00      8080     1.0   Average      1987

In [5]:
df.describe()

,price,bedrooms,bathrooms,sqft_lot,floors,yr_built
count,6.580000e+03,6580.000000,6580.000000,6.580000e+03,6580.000000,6580.000000
mean,5.372731e+05,3.376140,2.068465,1.584717e+04,1.434043,1967.094833
std,3.753588e+05,0.903461,0.762982,4.283803e+04,0.507711,28.224581
min,7.500000e+04,0.000000,0.000000,5.720000e+02,1.000000,1900.000000
25%,3.170000e+05,3.000000,1.500000,5.400000e+03,1.000000,1949.000000
50%,4.500000e+05,3.000000,2.000000,7.881500e+03,1.000000,1969.000000
75%,6.500000e+05,4.000000,2.500000,1.120000e+04,2.000000,1990.000000
max,7.060000e+06,9.000000,6.750000,1.651359e+06,3.500000,2015.000000

In [4]:
df.shape

(6580, 7)

In [10]:
X_train,X_test,y_train,y_test=train_test_split(df[['bedrooms','bathrooms','sqft_lot','floors','yr_built']],df['price'],test_size=0.4,random_state=1)

In [15]:
from statsmodels.api import add_constant
X=add_constant(X_train)
lm=sm.OLS(y_train,X)
lm1=lm.fit()
lm1.pvalues

const         4.697538e-77
bedrooms      5.398449e-01
bathrooms    1.783541e-223
sqft_lot      1.861861e-05
floors        5.684154e-06
yr_built      7.662873e-78
dtype: float64

In [17]:
print(lm1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.340
Model:                            OLS   Adj. R-squared:                  0.339
Method:                 Least Squares   F-statistic:                     405.3
Date:                Thu, 05 Sep 2019   Prob (F-statistic):               0.00
Time:                        05:51:38   Log-Likelihood:                -55518.
No. Observations:                3948   AIC:                         1.110e+05
Df Residuals:                    3942   BIC:                         1.111e+05
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       7.652e+06   4.03e+05     18.995      0.000    6.86e+06    8.44e+06
bedrooms   -3979.8122   6491.283     -0.613      0.540   -1.67e+04    8746.777
bathrooms   3.162e+05   9275.456     34.092      0.000    2.98e+05    3.34e+05
sqft_lot       0.6205      0.145      4.286      0.000       0.337       0.904
floors      5.295e+04   1.17e+04      4.544      0.000    3.01e+04    7.58e+04
yr_built   -3985.9345    208.700    -19.099      0.000   -4395.106   -3576.763
==============================================================================
Omnibus:                     4005.725   Durbin-Watson:                   1.996
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           485109.012
Skew:                           4.696   Prob(JB):                         0.00
Kurtosis:                      56.486   Cond. No.                     3.07e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.07e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
linreg=LinearRegression()

In [29]:
linreg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [32]:
predict_train=np.array(linreg.predict(X_train))

In [33]:
sum((y_train-predict_train)**2)

378705074058038.94